PROJECT_NAME="System Auth FastAPI"
API_V1_STR="/api/v1"
SECRET_KEY="supersecretjwtkey_change_me_in_production_eliaocular_2026"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

MYSQL_USER="root"
MYSQL_PASSWORD="usbw"
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
MYSQL_DB="eliaocular_db"

DATABASE_URL="mysql+pymysql://root:usbw@localhost:3306/eliaocular_db"

BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:3000","http://127.0.0.1:5173"]
